/*Navbar Section*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width:768px) {
    nav {
        background-image: linear-gradient(to right, white, hsl(231, 69%, 60%));
    }
    .burger div {
        background-color: hsl(231, 69%, 60%);
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    margin-top: 30px;
}

.nav-links li .btn {
    position: relative;
    top: -10px;
    border-color: hsl(0, 94%, 66%);
}

.nav-links li .btn:hover {
    background-color: white;
    color: hsl(0, 94%, 66%);
    border-color: hsl(0, 94%, 66%);
}

@media screen and (min-width:769px) {
    .nav-links li .btn {
        background-color: hsl(0, 94%, 66%);
        color: white;
    }
}

.nav-links a {
    color: hsl(229, 31%, 21%);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: hsl(0, 94%, 66%);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: hsl(229, 31%, 21%);
    margin: 5px;
}

@media screen and (max-width:768px) {
    .nav-links {
        width: 50%;
    }
    .nav-links a {
        align-items: center;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links li .btn:hover {
        color: hsl(229, 31%, 21%);
        border-color: hsl(229, 31%, 21%);
        background-color: transparent;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-image: linear-gradient(to right, white, hsl(231, 69%, 60%));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links a {
        color: white;
    }
    .burger {
        display: block;
    }
    .nav-links li .btn {
        color: white;
        border-color: white;
        background-color: none;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*Top Section*/

.download-btn {
    font-weight: bold;
    font-size: 15px;
    margin: auto 3%;
}

.download-btn-chrome {
    background-color: hsl(231, 69%, 60%);
    color: white;
    box-shadow: hsl(229, 8%, 60%);
}

.download-btn-chrome:hover {
    background-color: white;
    color: hsl(231, 69%, 60%);
    border-color: hsl(231, 69%, 60%);
}

.download-btn-firefox {
    background-color: hsl(228, 87%, 94%);
}

.download-btn-firefox:hover {
    background-color: white;
    color: hsl(229, 31%, 21%);
    border-color: hsl(229, 31%, 21%);
}

.top-col {
    text-align: left;
    padding: 5% 7% 5% 10%;
}

@media screen and (max-width:768px) {
    .top-col {
        text-align: center;
    }
    .btn-row {
        margin-left: 3%;
    }
}

.top-im {
    width: 100%;
}

h1 {
    font-size: 45px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

h3 {}

h5 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: hsl(229, 8%, 60%);
    line-height: 2rem;
    margin: 20px auto;
}


/*Features Section*/


/*Middle Section*/


/*Questions Section*/


/*CallToAction Section*/


/*Bottom Section*/